{% extends "base.html" %} 

        {% block content %}
            <div class="table">
                <h2 class="text-xl mb-2">Patient Preferences Table</h2>
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Preference ID</th>
                            <th class="px-4 py-2">Favorite Food</th>
                            <th class="px-4 py-2">Favorite Show</th>
                            <th class="px-4 py-2">Hobby</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patientpreferences in data3 %}
                        <tr>
                            <td class="border px-4 py-2">{{ patientpreferences.patient_preferences_id }}</td>
                            <td class="border px-4 py-2">{{ patientpreferences.favorite_food }}</td>
                            <td class="border px-4 py-2">{{ patientpreferences.favorite_shows }}</td>
                            <td class="border px-4 py-2">{{ patientpreferences.hobbies }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <br/>

        {% endblock %}